[submodule "wagner_overtures"]
	path = wagner_overtures
	url = https://github.com/DCMLab/wagner_overtures
	branch = main
[submodule "sweelinck_keyboard"]
	path = sweelinck_keyboard
	url = https://github.com/DCMLab/sweelinck_keyboard
	branch = main
[submodule "ravel_piano"]
	path = ravel_piano
	url = https://github.com/DCMLab/ravel_piano
	branch = main
